{"openapi":"3.0.3","info":{"title":"Api Documentation","description":"Api Documentation","termsOfService":"urn:tos","contact":{},"license":{"name":"Apache 2.0","url":"http://www.apache.org/licenses/LICENSE-2.0"},"version":"1.0"},"servers":[{"url":"https://choose.teheidoma.com:443","description":"Inferred Url"}],"tags":[{"name":"basic-error-controller","description":"Basic Error Controller"},{"name":"community-controller","description":"Community Controller"},{"name":"home-controller","description":"Home Controller"},{"name":"post-controller","description":"Post Controller"},{"name":"user-controller","description":"User Controller"}],"paths":{"/error":{"get":{"tags":["basic-error-controller"],"summary":"errorHtml","operationId":"errorHtmlUsingGET","responses":{"200":{"description":"OK","content":{"text/html":{"schema":{"$ref":"#/components/schemas/ModelAndView"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["basic-error-controller"],"summary":"errorHtml","operationId":"errorHtmlUsingPUT","responses":{"200":{"description":"OK","content":{"text/html":{"schema":{"$ref":"#/components/schemas/ModelAndView"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["basic-error-controller"],"summary":"errorHtml","operationId":"errorHtmlUsingPOST","responses":{"200":{"description":"OK","content":{"text/html":{"schema":{"$ref":"#/components/schemas/ModelAndView"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["basic-error-controller"],"summary":"errorHtml","operationId":"errorHtmlUsingDELETE","responses":{"200":{"description":"OK","content":{"text/html":{"schema":{"$ref":"#/components/schemas/ModelAndView"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}},"options":{"tags":["basic-error-controller"],"summary":"errorHtml","operationId":"errorHtmlUsingOPTIONS","responses":{"200":{"description":"OK","content":{"text/html":{"schema":{"$ref":"#/components/schemas/ModelAndView"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}},"head":{"tags":["basic-error-controller"],"summary":"errorHtml","operationId":"errorHtmlUsingHEAD","responses":{"200":{"description":"OK","content":{"text/html":{"schema":{"$ref":"#/components/schemas/ModelAndView"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}},"patch":{"tags":["basic-error-controller"],"summary":"errorHtml","operationId":"errorHtmlUsingPATCH","responses":{"200":{"description":"OK","content":{"text/html":{"schema":{"$ref":"#/components/schemas/ModelAndView"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}},"trace":{"tags":["basic-error-controller"],"summary":"errorHtml","operationId":"errorHtmlUsingTRACE","responses":{"200":{"description":"OK","content":{"text/html":{"schema":{"$ref":"#/components/schemas/ModelAndView"}}}},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/communitys":{"get":{"tags":["community-controller"],"summary":"getAllCommunitys","operationId":"getAllCommunitysUsingGET","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CommunityDTO"}}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["community-controller"],"summary":"createCommunity","operationId":"createCommunityUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommunityDTO"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"integer","format":"int64"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/communitys/{id}":{"get":{"tags":["community-controller"],"summary":"getCommunity","operationId":"getCommunityUsingGET","parameters":[{"name":"id","in":"path","description":"id","required":true,"style":"simple","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommunityDTO"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["community-controller"],"summary":"updateCommunity","operationId":"updateCommunityUsingPUT","parameters":[{"name":"id","in":"path","description":"id","required":true,"style":"simple","schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommunityDTO"}}}},"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["community-controller"],"summary":"deleteCommunity","operationId":"deleteCommunityUsingDELETE","parameters":[{"name":"id","in":"path","description":"id","required":true,"style":"simple","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/":{"get":{"tags":["home-controller"],"summary":"index","operationId":"indexUsingGET","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/posts/create/text":{"post":{"tags":["post-controller"],"summary":"createTextPost","operationId":"createTextPostUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateTextPostRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TextPostDTO"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/posts/feed":{"post":{"tags":["post-controller"],"summary":"getUserFeed","operationId":"getUserFeedUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetUserFeedRequest"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetUserFeedResponse"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/posts/{id}":{"get":{"tags":["post-controller"],"summary":"getPost","operationId":"getPostUsingGET","parameters":[{"name":"id","in":"path","description":"id","required":true,"style":"simple","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostDTO"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["post-controller"],"summary":"deletePost","operationId":"deletePostUsingDELETE","parameters":[{"name":"id","in":"path","description":"id","required":true,"style":"simple","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}},"/api/users":{"get":{"tags":["user-controller"],"summary":"getAllUsers","operationId":"getAllUsersUsingGET","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UserDTO"}}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"post":{"tags":["user-controller"],"summary":"createUser","operationId":"createUserUsingPOST","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserDTO"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"integer","format":"int64"}}}},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}}},"/api/users/{id}":{"get":{"tags":["user-controller"],"summary":"getUser","operationId":"getUserUsingGET","parameters":[{"name":"id","in":"path","description":"id","required":true,"style":"simple","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserDTO"}}}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"put":{"tags":["user-controller"],"summary":"updateUser","operationId":"updateUserUsingPUT","parameters":[{"name":"id","in":"path","description":"id","required":true,"style":"simple","schema":{"type":"integer","format":"int64"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserDTO"}}}},"responses":{"200":{"description":"OK"},"201":{"description":"Created"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"}}},"delete":{"tags":["user-controller"],"summary":"deleteUser","operationId":"deleteUserUsingDELETE","parameters":[{"name":"id","in":"path","description":"id","required":true,"style":"simple","schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"},"204":{"description":"No Content"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"}}}}},"components":{"schemas":{"CommunityDTO":{"title":"CommunityDTO","required":["description","name","owner","username"],"type":"object","properties":{"communityPosts":{"type":"array","items":{"type":"integer","format":"int64"}},"description":{"type":"string"},"id":{"type":"integer","format":"int64"},"name":{"maxLength":255,"minLength":0,"type":"string"},"owner":{"type":"integer","format":"int64"},"username":{"maxLength":255,"minLength":0,"type":"string"}}},"CreateTextPostRequest":{"title":"CreateTextPostRequest","type":"object","properties":{"communityIds":{"type":"array","items":{"type":"integer","format":"int64"}},"content":{"type":"string"},"title":{"type":"string"}}},"GetUserFeedRequest":{"title":"GetUserFeedRequest","type":"object","properties":{"offset":{"type":"integer","format":"int64"},"page":{"type":"integer","format":"int64"},"size":{"type":"integer","format":"int64"}}},"GetUserFeedResponse":{"title":"GetUserFeedResponse","type":"object","properties":{"posts":{"type":"array","items":{"$ref":"#/components/schemas/PostDTO"}}}},"ModelAndView":{"title":"ModelAndView","type":"object","properties":{"empty":{"type":"boolean"},"model":{"type":"object"},"modelMap":{"type":"object","additionalProperties":{"type":"object"}},"reference":{"type":"boolean"},"status":{"type":"string","enum":["ACCEPTED","ALREADY_REPORTED","BAD_GATEWAY","BAD_REQUEST","BANDWIDTH_LIMIT_EXCEEDED","CHECKPOINT","CONFLICT","CONTINUE","CREATED","DESTINATION_LOCKED","EXPECTATION_FAILED","FAILED_DEPENDENCY","FORBIDDEN","FOUND","GATEWAY_TIMEOUT","GONE","HTTP_VERSION_NOT_SUPPORTED","IM_USED","INSUFFICIENT_SPACE_ON_RESOURCE","INSUFFICIENT_STORAGE","INTERNAL_SERVER_ERROR","I_AM_A_TEAPOT","LENGTH_REQUIRED","LOCKED","LOOP_DETECTED","METHOD_FAILURE","METHOD_NOT_ALLOWED","MOVED_PERMANENTLY","MOVED_TEMPORARILY","MULTIPLE_CHOICES","MULTI_STATUS","NETWORK_AUTHENTICATION_REQUIRED","NON_AUTHORITATIVE_INFORMATION","NOT_ACCEPTABLE","NOT_EXTENDED","NOT_FOUND","NOT_IMPLEMENTED","NOT_MODIFIED","NO_CONTENT","OK","PARTIAL_CONTENT","PAYLOAD_TOO_LARGE","PAYMENT_REQUIRED","PERMANENT_REDIRECT","PRECONDITION_FAILED","PRECONDITION_REQUIRED","PROCESSING","PROXY_AUTHENTICATION_REQUIRED","REQUESTED_RANGE_NOT_SATISFIABLE","REQUEST_ENTITY_TOO_LARGE","REQUEST_HEADER_FIELDS_TOO_LARGE","REQUEST_TIMEOUT","REQUEST_URI_TOO_LONG","RESET_CONTENT","SEE_OTHER","SERVICE_UNAVAILABLE","SWITCHING_PROTOCOLS","TEMPORARY_REDIRECT","TOO_EARLY","TOO_MANY_REQUESTS","UNAUTHORIZED","UNAVAILABLE_FOR_LEGAL_REASONS","UNPROCESSABLE_ENTITY","UNSUPPORTED_MEDIA_TYPE","UPGRADE_REQUIRED","URI_TOO_LONG","USE_PROXY","VARIANT_ALSO_NEGOTIATES"]},"view":{"$ref":"#/components/schemas/View"},"viewName":{"type":"string"}}},"PostDTO":{"title":"PostDTO","required":["title"],"type":"object","properties":{"id":{"type":"integer","format":"int64"},"title":{"maxLength":255,"minLength":0,"type":"string"}}},"TextPostDTO":{"title":"TextPostDTO","required":["title"],"type":"object","properties":{"content":{"type":"string"},"id":{"type":"integer","format":"int64"},"title":{"maxLength":255,"minLength":0,"type":"string"}}},"UserDTO":{"title":"UserDTO","required":["email","name","password","userPost","username"],"type":"object","properties":{"email":{"maxLength":255,"minLength":0,"type":"string"},"id":{"type":"integer","format":"int64"},"name":{"maxLength":255,"minLength":0,"type":"string"},"password":{"maxLength":255,"minLength":0,"type":"string"},"userCommunitys":{"type":"array","items":{"type":"integer","format":"int64"}},"userPost":{"type":"integer","format":"int64"},"username":{"maxLength":255,"minLength":0,"type":"string"}}},"View":{"title":"View","type":"object","properties":{"contentType":{"type":"string"}}}}}}